/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-body:  repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
              repeating-linear-gradient(180deg, #d3d3d3, #d3d3d3 2px, transparent 2px,transparent 4px),
              linear-gradient(to bottom,#e7e7e7 0.01%,#1a1a1a 100%);
  --fs-title: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  --fs-subtitle: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  
  --core-fill: transparent;
  --contour-fill:#000;
  --main-body-fill: transparent;
  --sparks-fill: transparent;
}